numpy
pandas
scikit-learn
scipy
matplotlib
seaborn
tqdm
h5py
pydeck
streamlit
protobuf==3.20.3
tensorflow==2.12.0
torch
xgboost
lightgbm
joblib
plotly
statsmodels
python-dateutil
requests
rich
holidays
shap
pydot
graphviz
